body {
    font-family: Inter;
}
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
}
.navbar button {
    margin-right: 10px;
}

#menu{
    border-radius: 30px;
}